@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

@font-face {
    font-family: 'Titillium';
    src: url('../assets/fonts/Titillium_Web/TitilliumWeb-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal; 
}

* {
    margin: 0;
    padding: 0;
    line-height: 1.5;
    font-family: 'Titillium', sans-serif;
}

body {
    background-color: #FFFFFF;
    /* background-image: url('../assets/images/paper3.jpg');
    background-size: 250px 250px;
    background-repeat: repeat; */
    color: #000000;
}

.page-content {
    /* box-shadow: 8px 8px 20px rgba(0, 0, 0, 0.1); /* More pronounced outer shadow */
    /* border-radius: 8px; */
    display: flex;
    overflow-wrap: break-word; /* Allow long words to break */
    word-wrap: break-word; /* For older browsers */
    white-space: normal; /* Ensure text wraps normally */
    padding: 16px;
}

.page-header {
    /*background-color: #f8f4ee;*/
    color: #000000;
}

.page-footer {
    /* background-color: #f8f4ee; */
    background-color: #000000;
    color: #FFFFFF;
}