

:root {

  --s1: rgb(250, 250, 245); /* rgb(250, 250, 245)*/
  --s2: #FFFFFF; /* FAF8F0 */
  --s3: #CCCCCC;

  --p1: #000000;
  --p2: #515151;
  --p3: #777777;
  --p4: #515151;
  --p7: #777777;

  --shadow: #333333;

  --a1: #06635c;
  --a2: #7bb8a9;
  --a3: #D3EFD8;

  --c1: #8d61d3;
  --c2: #b9abd4;
  --c7: #e1dceb;

  --b1: #066c0f;
  --b2: #184f20;
  --b3: #D3EFD8;

  --fs1: 0.8rem;
}