

:root {
  --s1: #000000;
  --s2: #191919;
  --s3: #333333;

  --p1: #EEEEEE;
  --p2: #DDDDDD;
  --p3: #BBBBBB;
  --p4: #AAAAAA;
  --p7: #777777;


  --a1: #e04815;
  --a2: #9e4324;
  --a3: #603020;

  --b1: #0c8383;
  --b2: #065e5e;
  --b7: #022727;

  --fs1: 0.8rem;
}