

:root {

  --s1: #FAF8F0;
  --s2: #f0ead6;
  --s3: #CCCCCC;

  --p1: #000000;
  --p2: #191919;
  --p3: #333333;
  --p4: #515151;
  --p7: #777777;

  --shadow: #333333;

  --a1: #8d61d3;
  --a2: #8f78b7;
  --a7: #e1dceb;

  --b1: #04850f;
  --b2: #54ae63;
  --b7: #D3EFD8;

  --fs1: 0.8rem;
}