

:root {

  --s1: #FFFFFF; /* rgb(250, 250, 245) #EBEBEB*/
  --s2: #DEDEDE; /* FAF8F0 250, 251, 250 */ 
  --s3: #FFFFFF; /* rgb(245, 245, 245) */
  --s4: rgb(220, 220, 220);

  --p1: #000000;
  --p2: #292929;
  --p3: #777777;
  --p4: #515151;
  --p7: #777777;

  --shadow: #333333;

  --a1: #F78544;
  --a2: #7bb8a9;
  --a3: #0b302e;
  --a4: #fafffc;

  --c1: #1d883b;
  --c2: #46a176;
  --c7: #e1dceb;

  --b1: #F11A69;
  --b2: #ff629b;
  --b3: #D3EFD8;

  --fs1: 0.8rem;
}