@import url('./fonts.css');
@import url('./article.css');
@import url('./simulation.css');

:root {
  --content-width: 1240px;
  --side-padding: 20px;
}

html {
  font-size: 18px;
}

@media (max-width: 768px) {
  html {
    font-size: 12px;
  }
}

* {
  box-sizing: border-box;
  transition: border-color 1.0s ease;
  font-size: inherit;
}

html, body {
  height: 100%;
  margin: 0;
}

html {
  padding: 0;
}

body {
  background-color: var(--s2);
  transition: background-color 1.0s ease;
  line-height: 1.4rem;
  min-height: fit-content;
  display: flex;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
}

body * {
  font-size: 1rem;
}

.container {
  width: 768px;
  max-width: 768px;
  margin: 2rem auto;
  padding: 0 1rem;
  font-size: 24px;
}

h1 {
  font-size: 3rem;
  font-weight: 800;
  line-height: 3rem;
  color: var(--p1);
  margin: 0;
  margin-top: 4rem;  
}

h2 {
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 1.2rem;
  color: var(--p2);
}

.link-list {
  margin-top: 1rem;
  margin-bottom: 3rem;
  display: flex;
  gap: 2rem;
}

.link-list a {
  text-decoration: none;
  color: var(--p2);
  font-size: 1rem;
  position: relative;
}

.link-list a:hover {
  color: var(--p1);
}

.link-list a:not(:last-child)::after {
  content: "|";
  position: absolute;
  right: -1rem; /* Adjust spacing */
  color: var(--p1);
}

h3 {
  font-weight: 700;
  font-size: 1.1rem;
  line-height: 1.1rem;
}

h4 {
  color: var(--p2);
  text-decoration: underline;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1rem;
  margin: 0;
}

p {
  font-size: 1rem;
  font-weight: 400;
  color: var(--p1);
}

p a {
  color: var(--a1);
  text-decoration: none;
  transition: color 0.1s ease;
}

p a:hover {
  color: var(--a2);
}

b {
  font-weight: 500;
}

ol {
  list-style-type: none;
}

ol li {
  margin: 0.5rem 0;
}

ul {
  list-style-type: "+";
  list-style-position: outside;
}

ul li {
  padding-left: 10px;
}

ul li::marker {
  color: var(--p3);
  font-weight: 200;
}

.section {
  margin-top: 3rem;
}