@import url('./fonts.css');

:root {
  --content-width: 1240px;
  --side-padding: 20px;
  font-size: 16px;
}

html {
  font-size: 16px;
}

@media (max-width: 728px) {
  :root {
    font-size: 16px;
  }
  html {
    font-size: 16px;
  }
}

* {
  box-sizing: border-box;
  transition: border-color 1.0s ease;
  font-size: inherit;
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
}

html, body {
  height: 100%;
  margin: 0;
}

html {
  padding: 0;
}

body {
  background-color: rgb(255, 255, 255); /* gb(248, 249, 250) rgb(252, 245, 233) */
  transition: background-color 1.0s ease;
  line-height: 1.4rem;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: start;
  padding: 10% 1rem;
  max-height: 100%;
  flex: 1;
}
@media (max-width: 728px) {
  .main-container {
    padding: 1rem;
  }
}

