img {
  border-radius: 0px;
  box-shadow: 0 0px 0px rgba(0, 0, 0, 0.5);
  outline: 1px solid black;
}

.container {
  max-width: 428px;   /* cap width */
  width: 100%;        /* allow shrink on small screens */
  margin: auto;
  padding: 2rem;
  font-family: system-ui, sans-serif;
  line-height: 1.4;
  height: 100vh;
  overflow-y: auto;
}

.headline {
  font-family: 'Roboto', sans-serif;
  font-size: 2rem;
  font-weight: 700;
  margin: 0 0 0rem 0;
  text-decoration: none;
  color: black;
}

.tagline {
  font-family: 'Inter', sans-serif;
  font-size: 1.1rem;
  font-weight: 600;
  margin: 0 0 2rem 0;
}

.sutext {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 0;
}

.affiliations * {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  font-weight: 300;
  margin-bottom: 0;
}
.affiliations ul {
  margin-top: 0;
  list-style-type: none;
  padding-inline-start: 1rem;
}
.bold {
  font-weight: 500;
}






.content {
  margin: 1rem 0 0rem;
  padding: 1rem 0;
  border-top: 1px solid #000;
  /* border-bottom: 1px solid #000; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.about {
  display: flex;
  flex-direction: column;
  height: fit-content;
}

.about p {
  margin-top: 0;
  margin-bottom: 0.5rem;
  line-height: 1.5rem;
  font-size: 1rem;
}

.about a {
  color: rgb(212, 46, 112);
  text-decoration: none;
  font-size: 1rem;
}
.about a:hover {
  text-decoration: underline;
}

.profile-pic {
  width: 200px;
  height: 200px;
  align-items: center;
}

.links-header {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.links {
  display: flex;
  flex-direction: row;
  justify-content: left;
  gap: 1rem;
  flex-wrap: wrap;
}

.link-container {
  font-size: 1rem;
  justify-content: left;
  text-align: left;
}

.link {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  font-weight: 500;
  color: #000; /* #099b68*/
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}
















/*
*
* P U B L I C A T I O N S
*
*/


.portfolio-section-header {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  font-weight: 500;
  font-family: 'Roboto', monospace;
}
.publications {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
a.publication {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  padding-right: 1rem;
  border-radius: 0px;
  background-color: inherit;
  border: 1px solid transparent;
  transition: background-color 0.4s ease, border-color 0.4s ease;
  color: black;
  text-decoration: none;
  font-family: inherit;
}
a.publication:hover {
  background-color: rgba(255, 255, 255, 0.9);
  text-decoration: none;
}
a.publication:hover .pub-title {
  text-decoration: underline;
}
.pub-details {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.pub-title {
  font-weight: 600;
  font-size: 0.85rem;
  line-height: 1rem;
}
.pub-authors {
  font-weight: 300;
  font-size: 0.85rem;
  line-height: 1rem;
}
.pub-venue {
  font-weight: 300;
  font-size: 0.85rem;
  line-height: 1rem;
  font-style: italic;
}


















/*
*
* P O R T F O L I O
*
*/



.portfolio-section-header {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  font-weight: 500;
  font-family: 'Roboto', monospace;
}
.portfolio-items {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
a.portfolio-item {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  padding-right: 1rem;
  border-radius: 0px;
  background-color: inherit;
  border: 1px solid transparent;
  transition: background-color 0.4s ease, border-color 0.4s ease;
  color: black;
  text-decoration: none;
  font-family: inherit;
}
a.portfolio-item:hover {
  background-color: rgba(255, 255, 255, 0.9);
  border: 1px solid rgba(0, 0, 0, 1);
  text-decoration: none;
}
.item-img {
  /* max-width: 50%;
  height: auto; */
  height: 180px;
  width: 180px;
  display: block;
  object-fit: cover;
  margin: 0 auto;
}
.item-details {
  padding-top: 0.1rem;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.item-header {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}
.item-title {
  font-weight: 600;
  font-size: 0.85rem;
  line-height: 1rem;
}
.item-team {
  font-weight: 500;
  font-size: 0.7rem;
  line-height: .7rem;
  font-style: normal;
  color: #AAA;
}
.item-desc {
  font-weight: 300;
  font-size: 0.85rem;
  line-height: 1rem;
}




















.work-items {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.work-item {
  display: flex;
  flex-direction: column;
  gap: 0rem;
  padding-right: 1rem;
  border-radius: 0px;
  background-color: inherit;
  border: 2px solid transparent;
  transition: background-color 0.4s ease, border-color 0.4s ease;
}
.work-item * {
  font-size: 1rem;
}
.work-title {
  font-weight: 600;
  font-size: 1.2rem;
  line-height: 1.2rem;
  margin-bottom: 0.5rem;
}
.work-item:hover {
}
.work-item:hover .work-title {
}
.work-context {
  display: block;
}
.work-details {
  padding-top: 0.5rem;
  padding-left: 0.5rem;
  font-size: 1rem;
  line-height: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.work-period,
.work-collaborator,
.work-institution {
  padding-left: 0.5rem;
  font-size: 1rem;
  line-height: 1rem;
  color: #AAA;
}
.advisor-name {
  font-weight: 500;
  font-size: 1rem;
  line-height: 1rem;
}







/*
*
* S U B P A G E
*
*/

.container.subpage {
  max-width: 678px;
  font-size: 1rem;
}
.container.subpage > * {
  font-size: 1.1rem;
  line-height: 1.6rem;
  font-family: 'Roboto', sans-serif;
}

.link-container.subpage {
  margin-bottom: 2rem;
}

.container.subpage {
  h1 {
    font-size: 2rem;
    margin-bottom: 0;
    font-weight: 500;
  }
  h4 {
    color: #888;
    font-weight: 500;
    margin-top: 0.2rem;
  }

  a:not(.link) {
    font-size: inherit;
    font-family: inherit;
    text-decoration: none;
    color: var(--c1);
  }
  a:not(.link):hover {
    text-decoration: underline;
    color: var(--c2);

  }

  .subpage-img {
    /* max-width: 50%;
    height: auto; */
    display: block;
    object-fit: cover;
    margin: 0 auto;
    border: none;
    outline: none;
  }

  em {
    font-size: inherit;
    font-family: inherit;
    font-weight: inherit;
  }

  .figure {
    margin: 0 auto;
  }

  figcaption {
    margin-top: 0.5rem;
    font-size: 0.8rem;
    line-height: 1rem;
    text-align: center;
    font-weight: 400;
    color: #888;
  }

  .figure-row {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
  }
  
  .figure-row img {
    /* width: 100%; */
    max-width: 50%;
    height: auto;
  }
}



/*
*
* M E D I A  Q U E R I E S
*
*/


@media (max-width: 728px) {
  .container {
    padding: 1rem;
  }

  .content {
    flex-direction: column;
    gap: 1rem;
  }

  .profile-pic {
    display: block;
    margin: 0 auto;
  }
}
